
body
{
    margin:0;
    background-image:url("SCU.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

ul
{
    list-style-type: none;
    position:fixed; 
    margin:0;
    width:100%;
    height: 100px;
}

li
{
    display: inline;
    height: 10%;
    width: 20%;
}

.navbar
{
    position:fixed;
    background-color:#ffffff;
    opacity: 0.8;
    height:10%;
    width:100%;
    margin:0;
    
}

.button
{
    opacity: 1;
    display: inline-block;
	width: 10%;
	height: 100%;
	background-color:#ffffff;
	border-color: #000000;
	<!--color: #20a899;	-->
    color:#ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    	<!--font-family: Helvetica, Arial, Sans-Serif;-->
    font-size: 100px;
    padding-left: auto;
    padding-top: auto;
    text-align: center;
}

#skillsPicture
{
    height:500px;
    width:500px;
}

.button:hover
{
    color:white;
}

.backgroundWrapper
{
    
    background-color: #20a899;
    position: sticky;
    left: auto;
    width = 100%;
    overflow:hidden;
    height: 100vh;      <!--vheight (viewport percentage) gets the height of the screen-->
    
    
}

#firstPage
{
    //background-color:#20a899;
    background-color:transparent;
    color: white;
}

#secondPage
{
    background-color: #000000;
    color: white;
}

#thirdPage
{
    background-color: #2279ed;
    background-color:transparent;
    color:white;
}

.bufferWrapper
{
    background-color: transparent;
    height:40vh;
}


.centerWrapper
{
    
     margin-left: auto;
    margin-right: auto;
    width: 60%;
    height:auto;
    position: relative;
    display: block;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    height: 40%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    line-height:50px;
        
}

.headerText
{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    color:white;
    font-size: 75px;
    height:auto;
    padding-top: 7%;
    padding-bottom:6%;
}

.textWrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height:auto;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
   // background-color:#2279ed;
   // border-radius: 30px;
    margin-bottom: 10%;

    font-size: 20px;
    line-height:30px;
    text-align: justify;
    padding-right: 15%;
    padding-top:3%;
	color: white;	
    float: right;
}


#aboutPhoto
{
    height:300px;
    width:auto;
}

#aboutDescription
{
    width:auto;
    height:auto;  
    line-height: 30px;
    text-align: center;
    padding: 10%;
	color: white;	
}

.profileAlignment
{
    display:block;
    position: relative;
    height: auto;
    float: left;
    padding-left: 15%;
    
}

#pictureCircularMask
{
	height: auto;
	width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}


#menuBlock
{
	padding-top: 2%;
	text-align: center;
	padding-bottom: 5%;
}